@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src:url ('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor01: #EEF2D0;
    --cor02: #A7F2BA;
    --cor03: #01C040;
    --cor04: #38A65F;
    --cor05: #012603;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}



body {
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content:"\1F517";
}

header {
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.247);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
    ext-shadow: 2px 2px 0px rgba(0, 0, 0, 0.247);
}

nav {
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.281);
}

nav > a {
    color: var(--cor02);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor04);
    color: var(--cor05);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    background-color: white;

}
main img {
    width: 100%;
}

main img.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}
main h1 {
    color: var(--cor05);
    font-family: var(--fonte-destaque);
    padding-left: 10px;
}

main h2 {
    color: var(--cor05);
    font-family: var(--fonte-destaque);
    font-size: 1.3em;
    padding-left: 10px;
    background-image: linear-gradient(to right, var(--cor02), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.5em;
}

main strong {
    color: var(--cor03);
    font-weight: bold; 
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor02);
    padding: 2px 7px;
    border-radius: 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor03);
}

div.video {
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 34%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
}

aside > h3 {
    background-color: var(--cor04);
    color: white;
    padding: 10px 0px;
    text-align: center;
    margin: -10px -10px 0px -10px ;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: "\1F7E2";
    list-style-position: inside;
    columns: 2;
    text-align: justify;
}

footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #A7F2BA;
}